<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ .Site.BaseURL }}/index.xml">
        <meta property="og:url" content="{{ .Site.BaseURL }}">

        <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        {{ if eq .URL "/" }}
        <meta property="og:type" content="website">
        {{ range first 1 .Data.Pages }}
        <meta property="og:title" content="{{ .Site.Title }}">
        {{ end }}
        {{ else if eq .URL "/post/" }}
        <meta property="og:title" content="All Entries &middot; {{ .Site.Title }}">
        {{ else if in .URL "/tags/" }}
        <meta property="og:title" content="{{ .Site.Title }}">
        {{ else }}
        <meta property="og:type" content="article">
        <meta property="og:title" content="{{ .Title }} &middot; {{ .Site.Title }}">
        {{ end }}
        <title>{{ if eq .URL "/" }}{{ .Site.Title }}{{ else if eq .URL "/post/" }}All Entries &middot; {{ .Site.Title }}{{ else if in .URL "/tags/" }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}</title>
    </head>
    <body>
<header class="topBar">
  <a href="http://fntlnz.wtf/"><strong>fntlnz</strong></a>'s blog. Also on: <a href="https://github.com/fntlnz">github</a>, <a href="http://twitter.com/fntlnz">twitter</a>
</header>
