<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ .Site.BaseURL }}/index.xml">
        <meta property="og:url" content="{{ .Site.BaseURL }}">
{{ partial "favicon.html" . }}

        {{ if eq .URL "/" }}
        <meta property="og:type" content="website">
        {{ range first 1 .Data.Pages }}
        <meta property="og:title" content="{{ .Site.Title }}">
        {{ end }}
        {{ else if eq .URL "/post/" }}
        <meta property="og:title" content="All Entries &middot; {{ .Site.Title }}">
        {{ else if in .URL "/tags/" }}
        <meta property="og:title" content="{{ .Site.Title }}">
        {{ else }}
        <meta property="og:type" content="article">
        <meta property="og:title" content="{{ .Title }} &middot; {{ .Site.Title }}">
        {{ end }}
        <title>{{ if eq .URL "/" }}{{ .Site.Title }}{{ else if eq .URL "/post/" }}All Entries &middot; {{ .Site.Title }}{{ else if in .URL "/tags/" }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}</title>
    </head>
    <body>
<header class="topBar">
  <strong>fntlnz</strong></a>'s blog. <a  href="https://github.com/fntlnz">github</a>, <a href="http://twitter.com/fntlnz">twitter</a>
  <span class="rss"><a href="/index.xml"><img src="/rss-icon.png" /></a></span>
</header>
