{{ partial "head.html" . }}

<section>
    {{ range .Paginator.Pages }}
    <section class="postExcerpt">
        <h1><a href='{{ .Permalink }}'>{{ .Title }}</a></h1>
      <time>{{ .Date.Format "Jan 2, 2006" }}</time>
      <span class="middot"></span>
      <span class="reading-time">{{ .ReadingTime }} minutes read</span>
      <span class="middot"></span>
      <span class="wordcount">{{ .FuzzyWordCount }} words</span>
      <p>{{ .Description | markdownify }}</p>
    </section>
    {{ end }}
</section>

{{ partial "foot.html" . }}
